.login-container {
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

.login-form-1 {
    padding: 9%;
    background: #282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}

.login-form-1 span {
    text-align: center;
    color: #fff;
}

.login-form-1 label {
    text-align: center;
    color: #fff;
}

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
}

.btnForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

    .btnForgetPwd:hover {
        color: #fff;
        text-decoration: none;
    }

.form-group {
    text-align: center;
}

.form-control {
    display: inline-block;
}
