<link rel="stylesheet" type="text/css" href="~/Content/Formulaire.css">

<div class="container my-container">
    <div class="my-form text-center">
        <span class="help-block">@ViewBag.notif</span>
        <h3>Mot de passe oublié</h3>
        <form method="post" action="@Url.Action("ForgotPassword", "Users")">
            <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Your Email *" value="" />
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Envoyer" />
            </div>
            <div class="form-group">
                <span>Vous recevrez un mail vous permettant de changer votre mot de passe.</span><br/>
                <span>Si vous ne recevez rien dans les 5 minutes suivant votre demande, veuillez re éssayer ou vérifier votre email</span><br/><br/>
                <span><a href="@Url.Action("Connection", "Users")" class="btnForgetPwd">Retour à la connexion</a></span>
            </div>
        </form>
    </div>
</div>